.profile{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);


}

.form-control:focus {
    box-shadow: none;
    border-color: var(--main-color);
}

.profile-button {
    background: var(--main-color);
    box-shadow: none;
    border: none;
}

.profile-button:hover {
    background: var(--third-color);
    color: #fff;
}

.profile-button:active {
    background: var(--main-color);
    box-shadow: none;
}

.labels {
    font-size: 15px;
    color: var(--third-color);
}
