:root {

    --main-color: #FF8C00;
    --third-color: #2a2a2a;
    --second-color: white;

    --delete-color: white;
    --delete-background: #F23401;


    --update-color: white;
    --update-background: #14C38E;

    --add-color: white;
    --add-background: #0D6EFD;

}

*, ::after, ::before {
    box-sizing: border-box
}


@media (max-width: 768px ) {
    .sidebar {
        min-width: 150px;
        max-width: 50%;
    }

    * {
        font-size: 13px;
    }


    .sidebar-brand img {
        width: 100% !important;
        max-width: 175px;
        min-width: 100px;
    }

    a.nav-link {
        width: 100%;
    }

    .box-container {
        padding: 0 5px !important;
    }

}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}


* {
    font-family: 'Nunito', sans-serif;
}

nav ul li {


    padding: 0 30px;

}

nav a {
    position: relative;
    font-size: 17px !important;
    font-weight: 800;
}

nav hr {
    position: absolute;
    opacity: 1 !important;
    margin: 0;
    width: 0;
    padding-top: 4px;
    border-radius: 4px;
    transition: ease-in 0.3s;
    right: 0 !important;
    background-color: var(--main-color);

}

nav li:hover hr {
    left: 0 !important;
    width: 100%;
    transition: 0.6s ease-out;

}


form {
    padding: 10px 50px;
}

.button {
    text-transform: capitalize;
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--second-color) !important;
    border: 2px transparent solid;
    border-radius: 10px;
    padding: 8px 14px;
    margin: 5px;

    font-weight: 700;

    transition: ease-in;

}

.button i {
    font-size: 17px !important;
}


.button:hover {
    background-color: var(--third-color);
    transition: 0.3s ease-out;
}

.imageContainer {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px dodgerblue dashed;
    min-width: 200px;
    min-height: 200px;
    max-width: 500px;
    max-height: 500px;
    margin: 0;


    background: #f0f0f5;
    border-radius: 25px;
}

#add-image {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    z-index: 5 !important;
}

#add-image span {
    font-size: 15px;
    font-weight: 900;
    color: var(--third-color);
}

#add-image img {
    max-width: 90px;
    padding-bottom: 10px;
}

.box, .box-heading {
    margin: 0;
    border-radius: 10px;
    width: 100%;
    height: 60px;
}

.box {
    margin-bottom: 10px;
}

.box-heading {

    margin-bottom: 5px;
}

.box-dark {
    background-color: var(--third-color);
    color: var(--second-color);
    box-shadow: 1px 1px 1px 1px black;

}

.box-dark button:hover, .sidebar-dark button:hover {
    background-color: var(--second-color) !important;
    color: var(--main-color) !important;

}

.box-light {
    background-color: var(--second-color);
    color: var(--third-color);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.box-container {
    padding: 30px 30px;
}


.box-container .col {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-divider {
    background-color: var(--main-color);
    height: 3px;
    width: 100%;
    border-radius: 2px;
    margin: 15px 0;
}

.button.delete-colors {
    background-color: var(--delete-background);
    color: var(--delete-color);
}

.button.update-colors {
    background-color: var(--update-background);
    color: var(--update-color);
}


.button.update-colors:hover {
    background-color: var(--update-background);
    color: var(--update-color);
    opacity: 0.7;
}

.button.delete-colors:hover {
    background-color: var(--delete-background);
    color: var(--delete-color);
    opacity: 0.7;

}

.button.add-colors:hover {
    background-color: var(--add-background);
    color: var(--add-color);
    opacity: 0.7;
}

.button.add-colors {
    background-color: var(--add-background);
    color: var(--add-color);
}
